<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>To Do List</title>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div id="app">
    <h1 class="text-center">To Do List</h1>

    <div class="container">
        <div class="row">
            <div class="col col-sm-12 col-lg-5 mb-3">
                <div class="input-group ">
                    <input class="form-control" :class="{'is-invalid':isInvalid}" type="text" v-model="newTodoText">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" @click="addNote">Добавить</button>
                    </div>
                </div>
                <div v-if="isInvalid" class="text-danger">Введите текст!</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <ul>
                    <li v-for="item in items" :key="item.id">
                        <div class="input-group input-group-sm">
                            <template v-if="!item.isEditing">
                                <span v-text="item.text" class="p-1"></span>
                                <button class="btn btn-outline-secondary btn-sm m-1"
                                        @click="deleteNote(item)">X
                                </button>
                                <button class="btn btn-outline-secondary btn-sm my-1"
                                        @click="editNote(item)">Редактировать
                                </button>
                            </template>
                            <template v-else>
                                <input v-model="item.text" class="form-control my-1"
                                       :class="{'is-invalid':item.isEmpty}">
                                <button class="btn btn-outline-secondary btn-sm m-1"
                                        @click="cancelEditing(item)">Отменить
                                </button>
                                <button class="btn btn-outline-secondary btn-sm my-1"
                                        @click="saveEditing(item)">Сохранить
                                </button>
                            </template>
                        </div>
                        <div v-if="item.isEmpty" class="text-danger">Введите текст!</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="js/todoListScript.js"></script>
</body>
</html>