<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>To Do List</title>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>

<div id="app">
    <h1 class="text-center">To Do List</h1>
    <div class="container">
        <div class="row">
            <div class="col col-auto">
                <div class="input-group">
                    <input class="form-control" :class="{'is-invalid':isInvalid}" type="text" v-model="newTodoText">
                    <button class="btn btn-outline-primary" @click="addNote">Добавить</button>
                </div>
                <div v-if="isInvalid" class="alert alert-danger">Введите текст!</div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li v-for="item in items">
                        <span v-text="item.text" ></span>
                        <button class="btn btn-outline-secondary" @click="deleteNote(item)">X</button>
                        <button class="btn btn-outline-secondary" @click="editNote(item)">Редактировать</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="js/todoListScript.js"></script>
</body>
</html>