<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/libs/bootstrap.css'/>
    <link rel='stylesheet' href='/libs/jquery-confirm.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
{% block body %}{% endblock %}
<script src="/libs/jquery.js"></script>
<script src="/libs/bootstrap.bundle.js"></script>
<script src="/libs/vue.js"></script>
<script src="/libs/jquery-confirm.js"></script>
<script src="/javascripts/phoneBookScript.js"></script>
</body>
</html>
