.table {
    max-width: 860px;
    margin: auto;
    padding: 15px;
}

.table-common {
    width: 100%;
    font-size: 22px;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid lightgrey;
}

.table-header {
    font-weight: bold;
    background-color: #3498DB;
    color: white;
    text-align: left;
}

.table-common td, .table-common th {
    border: 1px solid lightgrey;
    padding: 15px 10px 10px;
}

.table-body tr:nth-child(odd) {
    background-color: #EEEEEE;
}